.wrapper{
    padding: 10px 32px;
    background: var(--primary-color);
    color: var(--background-color);
    border-radius: 32px;
    font-size: 16px;
    line-height: 28px;
    font-weight: bold;
    transition: 500ms ease;
}

.wrapper-secondary{
    padding: 10px 32px;
    background: var(--accent-color-400);
    border-color: var(--accent-color-400);
    color: var(--background-color);
    border-radius: 32px;
    font-size: 16px;
    line-height: 28px;
    font-weight: bold;
    transition: 500ms ease;
}

.wrapper:hover{
    background: var(--accent-color-100);
    cursor: pointer;
    border-color: var(--accent-color-100);
}

.wrapper-secondary:hover{
    background: var(--accent-color-200);
    cursor: pointer;
    border-color: var(--accent-color-200);
}