.wrapper{
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.subtitle{
    color: var(--primary-color-100);
}
.grid{
    padding: 0;
    width: 100%;
    height: 370px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 0;
}
@media (max-width: 1200px) {
    .grid{
        height: 570px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}
@media (max-width: 800px) {
    .grid{
        height: 1164px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
}
.grid-item{
    position: relative;
    margin-bottom: 12px;
    list-style: none;
    background: var(--accent-color-100);
    color: var(--background-color);
    border-radius: 24px;
    font-weight: bold;
}
.grid-item p{
    position: absolute;
    bottom: 0px;
    left: 24px;
}
.item-image{
    position: absolute;
    top: 12px;
    right: 12px;
}